.container {
  padding: 5px;
}

header {
  font-family: "Open Sans", sans-serif;
  color: #007bff;
}
a:hover {
  text-decoration: none;
}
li:hover {
  border-bottom: 2px solid #007bff;
}

.jumbotron {
  background: url("static/profile_pics/home_title.jpg") no-repeat center center;
  -webkit-background-size: cover;
  box-shadow: 010px10px-10pxrgb (000/30%);
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 320px;
}
.nav {
  /* box-shadow: 0 10px 10px -10px rgb(0 0 0 / 30%);
  color: rebeccapurple; */
}
body {
  /* background-color: black; */
}
