{% extends "base.html" %}
{% block content %}
<header>
    <div class='jumbotron' style="background: url('static/profile_pics/info_title.jpg') 
    no-repeat center center;">
    </div>
    <h1>Ashkelon's blog</h1>
    <p>This blog if for Ashkelon's citizens who love to share! </p>
</header>
    
    <hr/>
    <p>A proud Ashkelonite 🔥 who loves to live in her city and likes to hear experiences and stories from people who also want to share. 
    So if you have heard of a new bar opening or you feel like grumbling about a blocked road. This is the place for you!
    </p>
{% endblock %}